<div class="soo-solution">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <img class="profile-img" src="images/solutions/2-1.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="works-main-content">
            <h4 class="solution-title mb-5">#경영현황</h4>
            <h4 class="tab-section-txt mb-2" style="font-weight: 500">
              회사 상태를 분석하여 한눈에 파악 가능
            </h4>
            <p class="tab-section-txt" style="vertical-align: bottom">
              기업의 재무비율을 그래프로 한눈에 확인<br />
              기간별 매출 · 입과 입 · 출금 내역 확인
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="soo-solution bg-soo-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <div class="works-main-content bg-soo-gray">
            <h4 class="solution-title text-right mb-5">#통장 입·출금 현황</h4>
            <h4
              class="tab-section-txt text-right mb-2"
              style="font-weight: 500"
            >
              실시간 계좌 잔액확인 가능
            </h4>
            <p class="tab-section-txt text-right">
              개인사업용으로 등록된 계좌,<br />
              법인계좌에 잔액을 실시간으로 조회 가능
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item">
          <img class="profile-img" src="images/solutions/2-2.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
    </div>
  </div>
</div>
<div class="soo-solution section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <img class="profile-img" src="images/solutions/2-3.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="works-main-content">
            <h4 class="solution-title mb-5">#매출 · 매입 현황</h4>
            <h4 class="tab-section-txt mb-2" style="font-weight: 500">
              기간, 유형별 확인 가능
            </h4>
            <p class="tab-section-txt">
              기업의 매출·매입현황을<br />
              기간 및 유형별로 확인 가능
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="soo-solution bg-soo-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <div class="works-main-content bg-soo-gray">
            <h4 class="solution-title text-right mb-5">#신고·납부 현황</h4>
            <h4
              class="tab-section-txt text-right mb-2"
              style="font-weight: 500"
            >
              납부이력 관리 가능
            </h4>
            <p class="tab-section-txt text-right">
              신고서 및 납부서 등을 조회하고<br />
              납부이력을 관리 및 확인 가능
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item">
          <img class="profile-img" src="images/solutions/2-4.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
    </div>
  </div>
</div>
<div class="soo-solution section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <img class="profile-img" src="images/solutions/2-5.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="works-main-content">
            <h4 class="solution-title mb-5">#청구서 조회 및 납부</h4>
            <h4 class="tab-section-txt mb-2" style="font-weight: 500">
              청구되는 수임료 내역 확인
            </h4>
            <p class="tab-section-txt">
              세무회계 수에서 요청드리는 수임료<br />
              내역을 확인하고 즉시 납부 가능
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
