<div class="our-case section-spacing">
  <div class="container">
    <div class="theme-title-one">
      <h2 class="section-title">그렇다면 세무회계 수는 어떻게 일할까요?</h2>
      <h2 class="section-title" style="font-weight: 500; margin-bottom: 92px">
        세무회계 수 업무 프로세스를 소개합니다.
      </h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-r mb-2">01</h4>
          <div class="process-hexa-red justify-content-center">
            <span class="process-hexa-text">세무상담</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            대표 세무사<br /><span class="txt-red">직접상담</span>
          </p>
        </div>
      </div>
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-g mb-2">02</h4>
          <div class="process-hexa-gold justify-content-center">
            <span class="process-hexa-text">기장계약</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            카카오톡<br /><span class="txt-red">전자계약서 </span> 작성
          </p>
        </div>
      </div>
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-r mb-2">03</h4>
          <div class="process-hexa-red justify-content-center">
            <span class="process-hexa-text" style="top: 35%;">매출구조<br/> Review</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            사업자등록<span class="txt-red"> 업종코드<br/>및 매출구조 </span>검토
          </p>
        </div>
      </div>
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-r mb-2">04</h4>
          <div class="process-hexa-gold justify-content-center">
            <span class="process-hexa-text">Tax Planning</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            업종별, 유형별로<br/><span class="txt-red">Tax planning</span> 제공
          </p>
        </div>
      </div>
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-r mb-2">05</h4>
          <div class="process-hexa-red justify-content-center">
            <span class="process-hexa-text">월별 장부관리</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            월별 또는 분기별로<br /><span class="txt-red">컨설팅 보고서 </span>제공
          </p>
        </div>
      </div>
      <div class="col-lg-2 justify-content-center p-2">
        <div class="item">
          <h4 class="works-section3-title-r mb-2">06</h4>
          <div class="process-hexa-gold justify-content-center">
            <span class="process-hexa-text">Consulting<br/>Report 제공</span>
          </div>
          <!-- <img class="img-sec3" src="images/works/hexa-red.png" alt="" /> -->
          <p class="work-section3-text">
            업체별 매월<br /><span class="txt-red">세무 회계 장부 </span>관리
          </p>
        </div>
      </div>
      <button class="btn-sec3">업무 협업 요청하기</button>
    </div>
  </div>
</div>
