<div class="our-case bg-soo-gray">
  <div class="container" style="padding-top:120px">
    <div class="row">
      <div class="col-lg-4">
        <div class="item">
          <img class="profile-img" src="images/works/profile-2.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
      <div class="col-lg-8">
        <div class="item">
          <div class="works-main-content2">
            <h4 class="works-section1-title mb-5">
              업무는 카카오톡 서비스를 기반으로 합니다.<br />
              언제나 친절하고, 신속하게 답변 드립니다.
            </h4>
            <h4 class="section1-title mb-2">Partner</h4>
            <h4
              class="works-section1-title mb-4"
              style="color: #323232; font-weight: normal"
            >
              권준태 회계사
            </h4>
            <p class="works-section1-txt mb-4">
              <span style="font-weight: 500">(現) 한미회계법인 공인회계사 </span
              ><br />(前) 삼정회계법인 공인회계사 (매니저)
            </p>
            <h4 class="section1-title mb-3">주요업무사항</h4>
            <p class="works-section1-txt mb-4">
              ㈜ 넷마블, ㈜ 이스트소프트 등 상장회사 회계감사<br />
              ㈜ DGB캐피탈, ㈜ 하나자산신탁 등 세무조정 및 법인세 신고<br />
              미쯔비시도쿄UFG은행 서울지점㈜ 등 세무조정 및 법인세 신고<br />
              ㈜ 하나은행·㈜한국외환은행 합병 시 비상장주식 가치평가<br />
              삼성전기 WIFI 사업부 매각가치 산정 관련 가치평가<br />
              IBK투자증권㈜의 투자검토목적 풀무원건강생활㈜ 가치평가<br />
              대우조선해양㈜ 제 2차 경영정상화 방안 재무실사<br />
              중견조선사 경쟁력 진단 검토<br />
              국가기관 발주용역 등 多
            </p>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
