<div class="our-case" style="margin-top: 120px; margin-bottom: 120px;">
  <div class="container">
    <div class="theme-title-one">
      <h2 class="section-title">여러분의 세무·회계 파트너는 누구일까요?</h2>
      <h2 class="section-title" style="font-weight: 500; margin-bottom: 92px">
        세무회계 수 전문가들을 소개합니다.
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item">
          <img class="profile-img" src="images/works/profile-1.png" alt="" />
        </div>
        <!-- /.main-content -->
      </div>
      <div class="col-lg-8">
        <div class="item">
          <div class="works-main-content">
            <h4 class="works-section1-title mb-5">
              전문직이지만 친구처럼 가까운<br />세무·회계 서비스를
              제공하겠습니다.
            </h4>
            <h4 class="section1-title mb-2">CEO</h4>
            <h4
              class="works-section1-title mb-4"
              style="color: #323232; font-weight: normal"
            >
              박현수 대표 세무사
            </h4>
            <div class="row mb-4">
              <div class="col-6">
                <p class="works-section1-txt" style="font-weight: 500">
                  (現) 세무회계 수, 대표 세무사 <br />
                  (現) 중소벤처기업부 자문위원 <br />
                  (現) 국세청 세정혁신 자문위원
                </p>
              </div>
              <div class="col-6">
                <p class="works-section1-txt" style="font-weight: 500">
                  (現) NAVER 지식iN 세무 상담위원<br />
                  (現) 전산세무회계 자격시험 출제위원<br />
                  (現) 고용노동부 NCS 회계강사 등
                </p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-6 pr-0">
                <p class="works-section1-txt" style="letter-spacing: -1.15px">
                  (前) 마을세무사 자문위원(서울특별시)<br />
                  (前) 분양가심사위원회 심사위원(고양시)<br />
                  (前) 국세심사위원회 심사위원(잠실세무서)<br />
                  (前) 영세납세지원단 자문위원(은평세무서)
                </p>
              </div>
              <div class="col-6">
                <p class="works-section1-txt">
                  (前) 한국투자증권 재무관리부 근무<br />
                  (前) 세무법인조이 재무관리부 근무<br />
                  (前) 혜움세무회계 재무관리부 근무 등
                </p>
              </div>
            </div>
            <h4 class="section1-title mb-2">주요업무사항</h4>
            <div class="row mb-5">
              <div class="col-6 pr-0">
                <p class="works-section1-txt" style="letter-spacing: -1.45px">
                  (주)한국투자증권 지출결의 심사 및 출납 업무<br />
                  국세청 조사1·3국 등 세무조사 대응 업무<br />
                  기업간 M&A, PF 등의 목적을 위한 자문 업무<br />
                  예비창업자를 위한 Tax Planning 세무강의
                </p>
              </div>
              <div class="col-6">
                <p class="works-section1-txt">
                  (주)경남모직 등 조세불복 대응 업무<br />
                  (주)CMB 등 양도소득세 신고 업무<br />
                  롯데 인재개발원 세무 강의<br />
                  FC대상 보험과 절세 방안 세무 강의 등
                </p>
              </div>
            </div>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
