<div class="our-case section-spacing">
  <div class="container text-center">
    <h4 class="price-tax3-title">사업자 유형(내용 체크)</h4>
    <div class="row">
      <div class="col-lg-12">
        <select>
          <option value="" selected disabled hidden>
            고객님의 사업자 유형을 선택해주세요. 
          </option>
          <option>S유형 (성실신고확인대상자)</option>
          <option>I유형 (성실신고사전안대상자)</option>
          <option>A유형 (외부조정대상자)</option>
          <option>B유형 (자기조정대상자)</option>
          <option>C유형 (복식부기의무자)</option>
          <option>D유형 (기준경비율대상자)</option>
          <option>E유형 (단순경비율대상자)</option>
          <option>F유형 (단순경비율대상자)</option>
          <option>G유형 (단순경비율대상자)</option>
          <option>H유형 (단순경비율대상자)</option>
        </select>
      </div>
    </div>
    <h4 class="price-tax3-title">원하시는 서비스 유형</h4>
    <div class="row">
      <div class="col-lg-12">
        <select>
          <option value="" selected disabled hidden>
            원하시는 서비스 유형을 선택해주세요.
          </option>
          <option>첫번째 선택항목</option>
          <option>두번째 선택항목</option>
          <option>세번째 선택항목</option>
        </select>
      </div>
    </div>
    <h4 class="price-tax3-title">(예상) 연 매출</h4>
    <div class="row">
      <div class="col-lg-12">
        <input
          type="text"
          class="input-tax"
          placeholder="(예상)연 매출을 입력해주세요."
        /><span class="price-tax3-title ml-3">원</span>
      </div>
    </div>
      <button class="btn-sec3" style="margin-bottom: 32px">
        신고 수수료 조회하기
      </button>
    <div class="row justify-content-center">
      <p class="price-desc">
        * 종합소득세 신고, 복식부기대상자는 보수표에 의한 소급 기장료가
        발생합니다.<br />
        * 자신의 종합소득세 안내문을 확인해주세요.<br />
        * 업종에 따른 업무난이도·직원 수에 따라 수수료가 증가될 수 있습니다.
      </p>
    </div>
  </div>
</div>
