<div class="our-case section-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="price-tax2">
            <p class="price-title">150,000원~</p>
            <span class="section1-text">개인사업자<br />부가가치세 신고</span>
          </div>
          <span class="price-desc"
            >전자세금계산서, 카드매출 등<br />
            간단한 유형의 사업구조</span
          >
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="price-tax2">
            <p class="price-title">180,000원~</p>
            <span class="section1-text">개인사업자<br />부가가치세 신고</span>
          </div>
          <span class="price-desc"
            >온라인매출, 영세율매출(유튜버) 등<br />
            복잡한 유형의 사업구조</span
          >
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="price-tax2">
            <p class="price-title">200,000원~</p>
            <span class="section1-text">개인사업자<br />부가가치세 신고</span>
          </div>
          <span class="price-desc"
            >홈택스에 등록되지 않은<br />
            카드매입을 반영하는 경우</span
          >
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="price-tax2">
            <p class="price-title">300,000원~</p>
            <span class="section1-text">법인사업자<br />부가가치세 신고</span>
          </div>
          <span class="price-desc"
            >법인사업자의 부가가치세<br />
            신고는 별도합의</span
          >
        </div>
      </div>

    </div>
  </div>
</div>
