<div class="short-banner section-spacing bg-1">
  <div class="container">
    <div class="theme-title-one justify-content-center">
      <h2 class="section-title" style="color:#ffffff">
        세무회계 수는 스트리밍 플랫폼, MCN 회사의 세무 파트너입니다.
      </h2>
      <h2 class="section-title" style="font-weight: 500; color:#ffffff">
        각 스트리밍 플랫폼 별 맞춤형 세무 컨설팅과 서비스 제공이 가능합니다.
      </h2>
      <button class="btn-sec2">파트너 제안하기</button>
    </div>
  </div>
</div>
