<div class="our-team section-spacing">
  <div class="container">
    <div class="wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/youtube/youtube_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=rUc1lykHwcc"
                       target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">방송업세무</p>
              <p class="content-title2">
                유튜버, BJ 세금신고 해야할까? (Feat.세무조사)
              </p>
              <p class="content-hash">#방송업 #방송업세무 #유튜버</p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>

        <a
          href="https://www.youtube.com/channel/UCvvphMXBtJKiTxqPBNt4gEA"
          target="_blank"
          ><button class="btn-sec3">세무회계 수 채널 더보기</button>
        </a>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
