<div class="our-case">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 tabcenter">
        <button
          class="tablink"
          onclick="openPage('Solution-1', this)"
          id="defaultOpen"
        >
          세무·회계 계약서비스
        </button>
      </div>
      <div class="col-lg-6 tabcenter">
        <button class="tablink" onclick="openPage('Solution-2', this)">
          세무·회계 기장서비스
        </button>
      </div>
    </div>
  </div>
  <div id="Solution-1" class="tabcontent"><%include ./tabs/tab#1 %></div>

  <div id="Solution-2" class="tabcontent"><%include ./tabs/tab#2 %></div>
</div>
