<div class="our-case section-spacing">
  <div class="container">
    <div class="theme-title-one justify-content-center">
      <h2 class="section-title">많은 크리에이터 플랫폼과 크리에이터분들이</h2>
      <h2 class="section-title" style="font-weight: 500">
        세무회계 수와의 제휴를 통해,
        <span class="section-title" style="font-weight: 500; color: #9e1f24"
          >맞춤형 세무 서비스</span
        >를 제공받고 계십니다.
      </h2>
      <h2 class="section5-title">제휴 크리에이터 플랫폼</h2>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <img src="images/logo/partners/youtube.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/afreeca.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/twitch.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/kakao.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/naver.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/dia.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/sandbox.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/bigo.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/spoon.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/hakuna.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/toothlife.png" />
      </div>
      <div class="col-lg-2">
        <img src="images/logo/partners/popkon.png" />
      </div>
    </div>
  </div>
</div>
