<div class="our-case section-spacing">
  <div class="container">
    <div class="theme-title-one">
      <h2 class="section-title">플랫폼 별 맞춤 서비스를 제공하기 위해</h2>
      <h2 class="section-title" style="font-weight: 500;margin-bottom: 92px;">
        세무회계 수는 각각의 방송업을 대응할 수 있는 전담팅을 운영하고 있습니다.
      </h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec3">
            <img
              class="img-sec3"
              src="images/main/youtube.png"
              style="width: 175px; height: 40px"
              alt=""
            />
          </div>
          <h4 class="section1-title mb-2">방송업 Team#1</h4>
          <span class="section1-text">유튜부 및 편집자 세무 담당</span>
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec3">
            <img
              class="img-sec3"
              src="images/main/afreeca.png"
              style="width: 240px; height: 40px"
              alt=""
            />
          </div>
          <h4 class="section1-title mb-2">방송업 Team#2</h4>
          <span class="section1-text">BJ 방송업 세무 담당</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="main-content-sec3">
            <img
              class="img-sec3"
              src="images/main/twitch.png"
              style="width: 160px; height: 52px"
              alt=""
            />
          </div>
          <h4 class="section1-title mb-2">방송업 Team#3</h4>
          <span class="section1-text">스트리머 방송업 세무 담당</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="main-content-sec3">
            <img
              class="img-sec3"
              src="images/main/coin.png"
              style="width: 80px; height: 60px"
              alt=""
            />
          </div>
          <h4 class="section1-title mb-2">신산업 세무기장 Team</h4>
          <span class="section1-text">SNS 마켓, 구매대행, 가상화폐 등</span>
        </div>
      </div>
      <button class="btn-sec3">맞춤 서비스 이용하기</button>
    </div>
  </div>
</div>
