<div class="short-banner section-spacing bg-2">
  <div class="container">
    <div class="theme-title-one justify-content-center">
      <h2 class="section-title" style="color: #ffffff">
        세무상담 및 쉽고 빠른 카카오톡 계약, 그리고 매출구조 리뷰 & 장부관리
      </h2>
      <h2
        class="section-title"
        style="font-weight: 500; color: #ffffff; margin-bottom: 92px"
      >
        세무회계 수는 업종별, 유형별 세무계획을 담은 컨설팅 보고서도 제공합니다.
      </h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec4">
            <h4 class="section1-text mb-2">설립년도</h4>
            <span class="section4-title"><span
                class="timer"
                data-from="0"
                data-to="2018"
                data-speed="1200"
                data-refresh-interval="5"
                >0</span
              ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec4">
            <h4 class="section1-text mb-2">제휴 크리에이터</h4>
            <span class="section4-title"
              >약
              <span
                class="timer"
                data-from="0"
                data-to="100"
                data-speed="1200"
                data-refresh-interval="5"
                >0</span
              >+ 명</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec4">
            <h4 class="section1-text mb-2">주 업종</h4>
            <span class="section4-title">방송업</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 justify-content-center">
        <div class="item">
          <div class="main-content-sec4">
            <h4 class="section1-text mb-2">부업종</h4>
            <span class="section4-title">광고대행업</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
