<div class="our-case section-spacing">
  <div class="container">
    <div class="theme-title-one ">
      <h2 class="section-title">기본적인 세무 서비스는 빈틈없이,</h2>
      <h2 class="section-title" style="font-weight: 500;margin-bottom: 50px;">
        신규 산업분야 콘텐츠 크리에이터에게는 맞춤형 세무서비스를 제공합니다.
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item">
          <div class="main-content justify-content-center">
            <img class="img-sec1" src="images/main/icon-01.svg" alt="" />
            <h4 class="section1-title mb-2">개인·법인 사업자 기장업무</h4>
            <span class="section1-text"
              >종합소득세, 부가세, 법인세 신고대행 등</span
            >
            <button class="btn-soo">자세히 알아보기</button>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <div class="main-content">
            <img class="img-sec1" src="images/main/icon-02.svg" alt="" />
            <h4 class="section1-title mb-2">신종산업 세무 전문</h4>
            <span class="section1-text"
              >유튜버, BJ, 크리에이터를 위한 맞춤 세무</span
            >
            <button class="btn-soo">자세히 알아보기</button>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <div class="main-content">
            <img class="img-sec1" src="images/main/icon-03.svg" alt="" />
            <h4 class="section1-title mb-2">개인·법인 사업자 기장업무</h4>
            <span class="section1-text"
              >신규창업자 및 법인사업자들을 위한 세무 컨설팅</span
            >
            <button class="btn-soo">자세히 알아보기</button>
          </div>
          <!-- /.main-content -->
        </div>
      </div>
    </div>
  </div>
</div>
