<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../common/head-meta %>
  </head>

  <body>
    <div class="main-page-wrapper">
      <!-- ===================================================
				Loading Transition
			==================================================== -->
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>

      <!-- 
			=============================================
				Theme Header Two
			============================================== 
			-->
      <header class="header-two">
        <% include ../common/headers %>
        <!-- /.theme-menu-wrapper -->
      </header>
      <!-- /.header-two -->

      <!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
      <%include ./sections/banner %>
    </div>

    <%include ./sections/section#1 %> <%include ./sections/section#2 %>
    <%include ./sections/section#3 %> <%include ./sections/section#4 %>
    <%include ./sections/tab %><% include ../common/footer %>
    <!-- /.theme-footer-two -->

    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <%include ../common/foot-meta %>

    <!-- /.main-page-wrapper -->
  </body>
  <script>
    function openPage(pageName, elmnt) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.border = "";
        tablinks[i].style.color = "";
        tablinks[i].style.boxShadow = "";
        tablinks[i].style.borderRadius = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.border = "solid 1px #9e1f24";
      elmnt.style.color = "#9e1f24";
      elmnt.style.boxShadow = "0 3px 6px 0 rgba(96, 84, 63, 0.3)";
      elmnt.style.borderRadius = "28px";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>
</html>
