<footer class="theme-footer-two bg-burgundy">
  <div class="top-footer">
    <div class="container pb-5 text-white">
      <!-- <div class="row">
        <div class="col-lg-4 col-sm-6 col-12 logo-widget"> -->
      <div class="logo mb-4">
        <img src="images/logo/logo-soo-footer.svg" alt="" />
      </div>
      <p class="footer-text">상호명:세무회계 수 | 서울시 강서구 공항대로 164, 류마타워 1006호
      <br/>
        대표자:박현수 | 사업자등록번호: ???-??-?????? | 개인정보책임관리자:
        ???(???@???)<br/>
      <span>문의전화 02.6671.0817 | 팩스 02.6673.0817</span></p><br/><br/>
      <p class="footer-text">서비스 이용약관 | 개인정보 취급방침<br/><br/>
      © 2019 세무회계 수</p><br/><br/>
      <!-- </div>
      </div> -->
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.top-footer -->
</footer>
