<div class="our-team section-spacing">
  <div class="container">
    <div class="wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="news-conent-card">
              <div class="row">
                <div class="col-lg-9">
                  <p class="news-company">매일경제</p>
                  <p class="news-title">
                    유튜버 사업자등록, 세금신고 등 세무사 통한 정확한 대처
                    필요해
                  </p>
                  <p class="news-content">
                    유튜브 채널이 활성화됨에 따라 전업 유튜버 또는 투잡을 겸하는
                    크리에이터들이 증가하고 있다. 유튜브 영상 제작을 용돈벌이로
                    겸하는 이들도 있는 반면, 직장인 월급보다 더 높은 안정적인
                    수입을 기록하게 되어 신규로 사업자 등록을 해 채널을 운영해
                    나가는 이들을 쉽게 발견할 수 있다.
                  </p>
                  <p class="news-date">2021.03.31</p>
                </div>
                <div class="col-lg-3">
                  <img class="img-news" src="images/contents/news/news_temp.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-12 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="news-conent-card">
              <div class="row">
                <div class="col-lg-9">
                  <p class="news-company">매일경제</p>
                  <p class="news-title">
                    유튜버 사업자등록, 세금신고 등 세무사 통한 정확한 대처
                    필요해
                  </p>
                  <p class="news-content">
                    유튜브 채널이 활성화됨에 따라 전업 유튜버 또는 투잡을 겸하는
                    크리에이터들이 증가하고 있다. 유튜브 영상 제작을 용돈벌이로
                    겸하는 이들도 있는 반면, 직장인 월급보다 더 높은 안정적인
                    수입을 기록하게 되어 신규로 사업자 등록을 해 채널을 운영해
                    나가는 이들을 쉽게 발견할 수 있다.
                  </p>
                  <p class="news-date">2021.03.31</p>
                </div>
                <div class="col-lg-3">
                  <img class="img-news" src="images/contents/news/news_temp.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-12 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="news-conent-card">
              <div class="row">
                <div class="col-lg-9">
                  <p class="news-company">매일경제</p>
                  <p class="news-title">
                    유튜버 사업자등록, 세금신고 등 세무사 통한 정확한 대처
                    필요해
                  </p>
                  <p class="news-content">
                    유튜브 채널이 활성화됨에 따라 전업 유튜버 또는 투잡을 겸하는
                    크리에이터들이 증가하고 있다. 유튜브 영상 제작을 용돈벌이로
                    겸하는 이들도 있는 반면, 직장인 월급보다 더 높은 안정적인
                    수입을 기록하게 되어 신규로 사업자 등록을 해 채널을 운영해
                    나가는 이들을 쉽게 발견할 수 있다.
                  </p>
                  <p class="news-date">2021.03.31</p>
                </div>
                <div class="col-lg-3">
                  <img class="img-news" src="images/contents/news/news_temp.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-12 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="news-conent-card">
              <div class="row">
                <div class="col-lg-9">
                  <p class="news-company">매일경제</p>
                  <p class="news-title">
                    유튜버 사업자등록, 세금신고 등 세무사 통한 정확한 대처
                    필요해
                  </p>
                  <p class="news-content">
                    유튜브 채널이 활성화됨에 따라 전업 유튜버 또는 투잡을 겸하는
                    크리에이터들이 증가하고 있다. 유튜브 영상 제작을 용돈벌이로
                    겸하는 이들도 있는 반면, 직장인 월급보다 더 높은 안정적인
                    수입을 기록하게 되어 신규로 사업자 등록을 해 채널을 운영해
                    나가는 이들을 쉽게 발견할 수 있다.
                  </p>
                  <p class="news-date">2021.03.31</p>
                </div>
                <div class="col-lg-3">
                  <img class="img-news" src="images/contents/news/news_temp.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <div class="col-lg-12 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="news-conent-card">
              <div class="row">
                <div class="col-lg-9">
                  <p class="news-company">매일경제</p>
                  <p class="news-title">
                    유튜버 사업자등록, 세금신고 등 세무사 통한 정확한 대처
                    필요해
                  </p>
                  <p class="news-content">
                    유튜브 채널이 활성화됨에 따라 전업 유튜버 또는 투잡을 겸하는
                    크리에이터들이 증가하고 있다. 유튜브 영상 제작을 용돈벌이로
                    겸하는 이들도 있는 반면, 직장인 월급보다 더 높은 안정적인
                    수입을 기록하게 되어 신규로 사업자 등록을 해 채널을 운영해
                    나가는 이들을 쉽게 발견할 수 있다.
                  </p>
                  <p class="news-date">2021.03.31</p>
                </div>
                <div class="col-lg-3">
                  <img class="img-news" src="images/contents/news/news_temp.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <a
          href="https://m.blog.naver.com/PostList.nhn?blogId=tax-soo"
          target="_blank"
          ><button class="btn-sec3">언론보도 더보기</button>
        </a>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
