<div class="our-team section-spacing">
  <div class="container">
    <div class="wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member text-left">
            <div class="image-box">
              <img src="images/contents/blog/blog_temp.png" alt="" />
              <div class="overlay">
                <div class="hover-content text-center">
                  <ul>
                    <li>
                      <a
                        href="https://m.blog.naver.com/PostView.nhn?blogId=tax-soo&logNo=222312599887&navType=tl"
                        target="_blank"
                        ><i class="fa fa-newspaper-o" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="conent-body">
              <p class="content-title1">세무지식</p>
              <p class="content-title2">
                사업자등록 신청의 중요성<br />Maximum 2줄
              </p>
              <p class="content-hash">
                인스타그램을 통해 제품을 판매하는 인스타 마켓 운영자에게도
                사업자 계좌가 필요할까요?
              </p>
            </div>
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <a
          href="https://m.blog.naver.com/PostList.nhn?blogId=tax-soo"
          target="_blank"
          ><button class="btn-sec3">블로그 더보기</button>
        </a>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
