<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../common/head-meta %>
  </head>

  <body>
    <div class="main-page-wrapper">
      <!-- ===================================================
				Loading Transition
			==================================================== -->
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>

      <!-- 
			=============================================
				Theme Header Two
			============================================== 
			-->
      <header class="header-two">
        <% include ../common/headers %>
        <!-- /.theme-menu-wrapper -->
      </header>
      <!-- /.header-two -->

      <!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
      <%include ./sections/banner %>
    </div>

    <%include ./sections/section#1 %> <%include ./sections/tab %> 
    <% include ../common/footer %>
    <!-- /.theme-footer-two -->

    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <%include ../common/foot-meta %>

    <!-- /.main-page-wrapper -->
  </body>
</html>
